.fade-in {
    animation: fade-in linear;
    animation-timeline: scroll();
}


@keyframes fade-in {
    from {
        scale: 0;
        opacity: 0;

    }
    to {
        scale: 1;
        opacity: 1;
    }
}

