.skills-and-projects
{
    background-color: #3e738064;
    min-height: 700px;

}

.skills-and-projects h1  {
    text-align: center;
    font-size: 2rem;
    padding-top: 30px;
   
}

.skills-and-projects p {
    font-size: 1.5rem;
    text-align: center;
    text-transform: capitalize;
    line-height: 2.5rem;
    word-spacing: 0.5rem;

}

.skills {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;


}

.skills img {
    background-color: #e5e6eb;
    border-radius: 10px;

}

.projects {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem;

}

.projects a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    margin: 2rem;
}


.projects img {
    width: 50px;
}

.skill-container {
    display: flex;
    justify-content: center;
    padding: 50px;
    gap: 10px
}

.reverse {
    flex-direction: row-reverse;
}

.skill-container .img-container {
    width: 30%;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

.skill-container .description {
    width: 60%;
    
}

 
